<!DOCTYPE html>

<html>
    <head>
         <link rel="stylesheet" href="css/style.css" >
    </head>

    <body>
        <div class="main-content">
                {{>header}}
                <h1>{{location}}</h1>
                <h3>{{error}}</h3>
                <h4>Città: {{citta}}</h4> 
                <p>Latitudine: {{latitudine}}</p>
                <p>Longitudine: {{longitudine}}</p>
                <p>Temperatura attuale: {{temperatura_attuale}}</p>
                <p>Velocità vento: {{velocita_vento}}</p>
                
        </div>
        
     

        {{>footer}}
    </body>
</html>